{% extends "base.html" %}
{% block head %}
    {{block.super}}
    <style type="text/css">
        body { background-color: darkseagreen; }
    </style>
{% endblock %}
{% block content %}
    <h1>Teacher List</h1>
    <ul>
        {% for teacher in teachers_list %}
        <li>
            {{ teacher.id|safe }}. {{ teacher.first_name|safe }} {{ teacher.last_name|safe }}
            <a href="{% url 'edit-teacher' teacher.id %}" method="GET">Edit</a>
            <a href="{% url 'delete-teacher' teacher.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}