{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        body { background-color: DarkCyan; }
        body { font-size: 1.6rem; }
        ul.widget-list { list-style: none; }
        ul.widget-list li { margin-top: 0.5em; }
        ul.widget-list a { color: Black}
    </style>
{% endblock %}
{% block content %}
    <ul class="widget-list">
        <li><a href="/admin">ADMIN</a><br></li>
        <li><a href="{% url 'create-student' %}">CREATE STUDENT</a><li>
        <li><a href="{% url 'create-teacher' %}">CREATE TEACHER</a><li></li>
        <li><a href="{% url 'create-group' %}">CREATE GROUP</a><li></li>
        <li><a href="{% url 'list-students' %}">LIST STUDENTS</a><li>
        <li><a href="{% url 'list-teachers' %}">LIST TEACHERS</a><li></li>
        <li><a href="{% url 'genereate-students-form' %}">GENERATE_STUDENTS</a></li>
        <li><a href="{% url 'email_form' %}">EMail</a></li>
    </ul>
{% endblock %}